.input:focus {
    outline: none;
    border-color: #06c; /* Пример стиля для фокуса */
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.superInput {
    border-color: #06c; /* Пример стиля для обычного инпута */
}

.errorInput {
    border-color: red; /* Пример стиля для инпута с ошибкой */
}

.errorInput:focus {
    border-color: darkred; /* Пример стиля для фокуса инпута с ошибкой */
}

.error {
    color: red;
    font-size: 14px;
}