.tech {
    width: 50vw;
}

.developer {
    color: rgb(35, 35, 35);
}

.techHeader {
    width: 50vw;
    display: flex;
    gap: 5px;
}

.developerHeader {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
    padding: 10px 17px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.rowHeader {
    display: flex;
    background-color: #E5E5E5;
    margin-top: 36px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px 17px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading img {
    animation: spin 1.5s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}