.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.text1 {
    margin-left: 10px;
    font-size: 14px;
}

.text2 {
    margin-left: 5px;
    font-size: 14px;
}